p {
    font-size: 50px;
    ;
}

.title {
    color: #1ff2ac;
    font-size: 15px;
    background-color: red;
}

.title1 {
    color: #d61ff2;
    font-size: 25px;

}

.title2 {
    color: #e85d37;
    font-size: 35px;
    ;

}